/* Source: https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html */
.border {
    -fx-background-color: #1e1e2e;
    -fx-padding: 20px;
}

#leftVBox, #rightVBox, #centerVBox {
    -fx-padding: 15px;
    -fx-background-color: rgba(49, 50, 68, 0.7);
    -fx-background-radius: 10px;
    -fx-border-color: #89b4fa;  
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.label {
    -fx-text-fill: #cdd6f4;  
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #313244;  
    -fx-text-fill: #cdd6f4;
    -fx-font-weight: bold;
    -fx-min-width: 100px;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-border-color: #89b4fa;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #45475a;
    -fx-cursor: hand;
    -fx-border-color: #b4befe;  
}

.button:disabled {
    -fx-opacity: 0.5;
}

#playButtonPlayer1, #playButtonPlayer2 {
    -fx-background-color: #40a02b;
    -fx-border-color: #a6e3a1;
}

#playButtonPlayer1:hover, #playButtonPlayer2:hover {
    -fx-background-color: #45b331;
}

#foldButtonPlayer1, #foldButtonPlayer2 {
    -fx-background-color: #d20f39;  
    -fx-border-color: #f38ba8;
}

#foldButtonPlayer1:hover, #foldButtonPlayer2:hover {
    -fx-background-color: #e91e63;
}

.text-field {
    -fx-background-color: #313244;
    -fx-text-fill: #cdd6f4;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 13px;
    -fx-border-color: #89b4fa;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.output {
    -fx-background-color: #313244;
    -fx-text-fill: #fab387;  
    -fx-font-weight: bold;
}

#nextRoundButton {
    -fx-background-color: #209fb5; 
    -fx-border-color: #94e2d5;
    -fx-text-fill: #cdd6f4;
}

#nextRoundButton:hover {
    -fx-background-color: #25b4cc;
}

.bottom .button {
    -fx-background-color: #585b70;
    -fx-min-width: 150px;
    -fx-border-color: #a6adc8;
}

.bottom .button:hover {
    -fx-background-color: #6c7086;
}

/* Source: https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#menu */
.menu-bar {
    -fx-background-color: #1e1e2e;
}

.menu-bar .menu .label {
    -fx-text-fill: white;
}

.menu-bar .menu-item .label {
    -fx-text-fill: black;
}